@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hud-scanline {
    background: linear-gradient(rgba(18, 16, 1, 0) 50%, rgba(0, 0, 0, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
  }

  .input-glow:focus {
    box-shadow: 0 0 10px rgba(255, 191, 0, 0.3);
    border-color: #ffbf00;
  }

  .reticle-corner {
    position: absolute;
    width: 15px;
    height: 15px;
    border-color: #ffbf00;
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 0.6;
      transform: scale(1.05);
    }

    50% {
      opacity: 0.4;
      transform: scale(1.1);
    }
  }

  .animate-pulse-slow {
    animation: pulse-slow 8s infinite ease-in-out;
  }
}